<app-breadcrumbs [quiz]="true"></app-breadcrumbs>
<div id="progress" >
    <h4>{{ itemId }}</h4>
    <ul class="list-group" *ngIf="progress | async as progress">
        <li *ngFor="let field of progress" class="list-group-item">
            <h5>{{ field.key }}</h5>
            <ul>
                <li *ngFor="let entry of field.items">{{ entry }}</li>
            </ul>
        </li>
    </ul>
</div>

<div id="terminal" (click)="focus(in)">
    <div>Anatomy Quiz! (Enter "help" for help)</div>
    <div *ngFor="let line of lines">{{ line }}</div>
    <div>
        <span id="prompt">{{ itemId }} ></span>
        <input #in type="text" [(ngModel)]="command" autocomplete="off" (keydown)="handleCommand($event)" autofocus />
    </div>
</div>
