<app-breadcrumbs [quiz]="true"></app-breadcrumbs>
<div class="row">
    <div class="col-6">
        <app-item-detail-list
            [title]="itemId"
            [fields]="progress"
            ></app-item-detail-list>
    </div>
    <div class="col-6">
        <div id="terminal" class="p-3" (click)="focus(in)">
            <div>Anatomy Quiz! (Enter "help" for help)</div>
            <div *ngFor="let line of lines">{{ line }}</div>
            <div>
                <span id="prompt">{{ itemId }} ></span>
                <input #in type="text" [(ngModel)]="command" autocomplete="off" (keydown)="handleCommand($event)" autofocus />
            </div>
        </div>
    </div>
</div>