<app-breadcrumbs [quiz]="true"></app-breadcrumbs>
<div class="row">
    <div class="col-6">
        <app-item-detail-list
            [title]="(item | async)?.itemName"
            [fields]="fields"
            ></app-item-detail-list>
    </div>
    <div class="col-6">
        <div id="terminal" class="p-3">
            <div>Anatomy Quiz! (Enter "help" for help)</div>
            <div *ngFor="let line of lines">{{ line }}</div>
            <div *ngIf="!item.isStopped && item | async as current">
                <span id="prompt">{{ current.itemName }} &gt;</span>
                <input type="text" [(ngModel)]="command" autocomplete="off" (keydown)="handleCommand(current.itemName, $event)" autofocus />
            </div>
        </div>
    </div>
</div>
