<ul class="list-group my-3" *ngIf="fields.length">
    <li *ngFor="let field of fields" class="list-group-item">
        <h5>{{ field.key }}</h5>
        <ul class="list-unstyled">
            <li *ngFor="let entry of field.entries; index as i; first as isFirst; last as isLast">
				<app-edit-string
					*ngIf="edit; else noEdit"
					[small]="true"
					[label]="field.key"
					[text]="entry.text"
					(update)="set.emit({field: field.key, entryKey: entry.key, entry: $event})"
					(delete)="remove.emit({field: field.key, entryKey: entry.key})"
					[showMoveControls]="true"
					[disableMoveUp]="isFirst"
					[disableMoveDown]="isLast"
					(moveUp)="swap.emit({field: field.key, entry1: field.entries[i-1], entry2: entry})"
					(moveDown)="swap.emit({field: field.key, entry1: entry, entry2: field.entries[i+1]})"
					></app-edit-string>
				<ng-template #noEdit>{{ entry.text }}</ng-template>
            </li>
        </ul>
    </li>
</ul>
