<app-breadcrumbs></app-breadcrumbs>
<app-edit-button></app-edit-button>
<div class="my-3">
	<h4 class="d-inline">{{ route.snapshot.data.itemName }}</h4>
	<a class="badge badge-primary align-text-top" routerLink="quiz">Quiz</a>
</div>
<div *ngIf="details | async as details; else loading">
	<app-item-detail-list
		[edit]="ownerService.owner && ownerService.edit"
		[fields]="details.fields"
		(set)="set($event.field, $event.entryKey, $event.entry)"
		(remove)="remove($event.field, $event.entryKey)"
		(swap)="swap($event.field, $event.entry1, $event.entry2)"
		></app-item-detail-list>
	<div *ngIf="ownerService.owner && ownerService.edit" class="form-row">
		<div class="form-group col-md-3 col-lg-2">
			<select class="form-control" [(ngModel)]="selectedField">
				<option value="">Add entry</option>
				<option *ngFor="let field of detailFields" [value]="field.key">{{ field.key }}</option>
			</select>
		</div>
		<div class="col-md-9 col-lg-10">
			<app-add-string *ngIf="selectedField" [label]="selectedField" (newString)="add(selectedField, $event)"></app-add-string>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6" *ngFor="let image of details.images">
			<figure class="figure mx-auto">
				<img [src]="image.url" class="figure-img img-fluid rounded" [alt]="image.key">
				<figcaption class="figure-caption">
					{{ image.filename }}
					<button *ngIf="ownerService.owner && ownerService.edit" type="button" class="btn btn-sm btn-outline-danger float-right ml-3" (click)="removeImage(image)">Remove</button>
				</figcaption>
			</figure>
		</div>
	</div>
	<div *ngIf="ownerService.owner && ownerService.edit" class="form-group">
		<div class="input-group">
			<div class="custom-file">
				<input type="file" class="custom-file-input" accept="image/*" id="file_upload" (change)="fileSelected($event.target.files)">
				<label class="custom-file-label" for="file_upload">{{ selectedFile ? selectedFile.name : 'Upload image' }}</label>
			</div>
			<div class="input-group-append">
				<button [disabled]="!selectedFile" class="btn btn-outline-secondary" type="button" (click)="uploadFile()">Upload</button>
			</div>
		</div>
	</div>
</div>
<app-drag-drop-upload></app-drag-drop-upload>
<ng-template #loading><app-loading></app-loading></ng-template>

