<nav>
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a routerLink="/">Home</a></li>
		<li class="breadcrumb-item active">Quiz</li>
	</ol>
</nav>
<anatomy-terminal welcomeMessage="Anatomy Quiz Homegrown!" prompt=">"></anatomy-terminal>

<!-- <div class="ui-terminal ui-widget ui-widget-content ui-corner-all">
    <div>Anatomy Quiz!</div>
	<div class="ui-terminal-content">
		<div *ngFor="let line of lines">
			{{ line.text }}
		</div>
	</div>
	<div>
	    <span class="ui-terminal-content-prompt">&gt;</span>
	    <input [(ngModel)]="command" autocomplete="off" autofocus class="ui-terminal-input" type="text" (keydown)="handleCommand($event)" />
	</div>
</div> -->