<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between mb-3">
    <span class="navbar-brand">Anatomy</span>
    <span *ngIf="afAuth.authState | async as user" class="navbar-text">{{ user.displayName }}</span>
    <div class="form-inline">
		<button *ngIf="afAuth.authState | async; else login" class="btn btn-sm btn-secondary" type="button" (click)="logOut()">Log out</button>
	    <ng-template #login>
			<button class="btn btn-sm btn-secondary" type="button" (click)="logIn()">Log in</button>
		</ng-template>
	</div>
</nav>
<div class="container-fluid">
	<router-outlet></router-outlet>
</div>
