<nav>
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a routerLink="/">Home</a></li>
		<li class="breadcrumb-item"><a routerLink="/regions">Regions</a></li>
		<li class="breadcrumb-item active">{{ route.snapshot.paramMap.get('regionId') }}</li>
	</ol>
</nav>
<div class="float-right">
	<label>Edit:</label>
	<p-inputSwitch [(ngModel)]="editState.edit"></p-inputSwitch>
</div>
<ul class="list-unstyled">
	<li *ngFor="let item of items | async" routerLinkActive="active">
	  	<a [routerLink]="item">{{item}}</a>
	</li>
	<li *ngIf="editState.edit"><app-add-string label="item" (newString)="newItem($event)"></app-add-string></li>
</ul>
