<app-breadcrumbs></app-breadcrumbs>
<app-edit-button></app-edit-button>
<h4 class="d-inline">{{ route.snapshot.data.regionName }}</h4>
<a class="badge badge-primary" routerLink="quiz">Quiz</a>
<ul class="list-group my-3">
	<li *ngFor="let item of items | async" class="list-group-item">
	  	<a [routerLink]="item.key">{{ item.name }}</a>
	  	<app-delete-item *ngIf="editState.edit | async" (click)="deleteItem(item.key)"></app-delete-item>
	  	<a class="badge badge-primary float-right" [routerLink]="[item.key, 'quiz']">Quiz</a>
	</li>
</ul>
<app-add-string *ngIf="editState.edit | async" label="Item" (newString)="newItem($event)"></app-add-string>