<app-breadcrumbs></app-breadcrumbs>
<app-edit-button></app-edit-button>
<h4 class="d-inline">{{ route.snapshot.data.regionName }}</h4>
<a class="badge badge-primary" routerLink="quiz">Quiz</a>
<div *ngIf="editState.edit | async; else noEdit">
	<app-edit-string
		*ngFor="let item of items"
		label="Item"
		[text]="item.name"
		(update)="update(item.key, $event)"
		(delete)="delete(item.key)"
		></app-edit-string>
	<app-add-string label="Item" (newString)="add($event)"></app-add-string>
</div>
<ng-template #noEdit>
	<ul class="list-group my-3">
		<li *ngFor="let item of items" class="list-group-item">
			<a [routerLink]="item.key">{{item.name}}</a>
			<a class="badge badge-primary float-right" [routerLink]="[item.key, 'quiz']">Quiz</a>
		</li>
	</ul>
</ng-template>