<form #updateForm="ngForm" (ngSubmit)="updateValue()" class="my-3">
	<div class="form-group">
		<div class="input-group">
		  <input type="text" name="value" class="form-control" [(ngModel)]="newString" [placeholder]="label" required>
		  <div class="input-group-append">
		    <button class="btn btn-outline-info" type="submit" [disabled]="!updateForm.form.valid || !validText()">Update</button>
		    <button class="btn btn-outline-danger" type="button" (click)="delete.emit()">Remove</button>
		  </div>
		</div>
	</div>
</form>