<form #updateForm="ngForm" (ngSubmit)="updateValue()">
  <div [ngClass]="{'form-group': !small}">
    <div class="input-group" [ngClass]="{'input-group-sm': small}">
      <div class="input-group-prepend">
        <button *ngIf="showMoveControls" class="btn btn-outline-primary" type="button" [disabled]="disableMoveUp" (click)="moveUp.emit()">&#8593;</button>
        <button *ngIf="showMoveControls" class="btn btn-outline-primary" type="button" [disabled]="disableMoveDown" (click)="moveDown.emit()">&#8595;</button>
      </div>
      <input *ngIf="showEditTextControls; else noUpdate" type="text" name="value" class="form-control" [(ngModel)]="newString" [placeholder]="label" required />
      <ng-template #noUpdate><span class="form-control">{{ text }}</span></ng-template>
      <div class="input-group-append">
        <button *ngIf="showEditTextControls" class="btn btn-outline-info" type="submit" [disabled]="!updateForm.form.valid || !validText()">Update</button>
        <button class="btn btn-outline-danger" type="button" (click)="delete.emit()">Remove</button>
      </div>
    </div>
  </div>
</form>