<ul id="completedList" *ngIf="item" class="list-group">
    <li *ngFor="let field of item.details | detailFields" class="list-group-item">
        <h5>{{ field.key }}</h5>
        <ul>
            <li *ngFor="let entry of item.details[field.key] | subItemsDone">{{ entry.text }}</li>
        </ul>
    </li>
</ul>

<div id="anatomy-terminal" (click)="focus(in)">
    <div>Anatomy Quiz! (Enter "help" for help)</div>
    <div *ngFor="let line of lines">{{ line }}</div>
    <div [hidden]="!item">
        <span id="prompt">{{ item?.id }} ></span>
        <input #in type="text" [(ngModel)]="command" autocomplete="off" (keydown)="handleCommand($event)" autofocus />
    </div>
</div>
