#anatomy-terminal {
    height: 18em;
    overflow: auto;
    background: black;
    padding: 1em;
    color: white;
    font-family: monospace;
    font-size: 12px;
    float: right;
    width: 50%;
}

#anatomy-terminal input {
    border: 0 none;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    margin: 0;
    width: 75%;
    outline: none;
}

#anatomy-terminal input::-ms-clear {
    display: none;
}

#completedList {
    float: left;
    width: 40%;
}
/*#prompt {
    font-weight: bold;
}*/
/*
#anatomy-terminal, #anatomy-terminal input {
}
*/