<div id="completedList">
    <h4>{{ item?.id }}</h4>
    <ul class="list-group">
        <li *ngFor="let field of done" class="list-group-item">
            <h5>{{ field.key }}</h5>
            <ul>
                <li *ngFor="let entry of field.items">{{ entry }}</li>
            </ul>
        </li>
    </ul>
</div>

<div id="anatomy-terminal" (click)="focus(in)">
    <div>Anatomy Quiz! (Enter "help" for help)</div>
    <div *ngFor="let line of lines">{{ line }}</div>
    <div [hidden]="!item">
        <span id="prompt">{{ item?.id }} ></span>
        <input #in type="text" [(ngModel)]="command" autocomplete="off" (keydown)="handleCommand($event)" autofocus />
    </div>
</div>
