<app-breadcrumbs></app-breadcrumbs>
<app-edit-button></app-edit-button>
<h4>Profiles</h4>
<div *ngIf="profilesObservable | async as profiles">
	<div *ngIf="profiles.mine as profile">
		<span *ngIf="profile.name; else noProfile">
			<app-edit-string
				*ngIf="editState.edit; else noEdit"
				label="Profile"
				[text]="profile.name"
				(update)="update(profile.id, $event)"
				(delete)="delete(profile.id)"
				></app-edit-string>
			<ng-template #noEdit>
				<ul class="list-group my-3">
					<li class="list-group-item list-group-item-success">
						<a [routerLink]="profile.id">{{ profile.name }}</a>
					</li>
				</ul>
			</ng-template>
		</span>
		<ng-template #noProfile>
			<app-add-string label="New profile" (newString)="update(profile.id, $event)"></app-add-string>
		</ng-template>
	</div>
	<ul class="list-group my-3">
		<li *ngFor="let profile of profiles.others" class="list-group-item">
			<a [routerLink]="profile.id">{{ profile.name }}</a>
			<a class="badge badge-success float-right" [routerLink]="[profile.id, 'copy']">Copy</a>
		</li>
	</ul>
</div>