<app-breadcrumbs></app-breadcrumbs>
<h4>{{ route.snapshot.data.profileName }}</h4>
<div class="list-group my-3">
	<div class="list-group-item">
		<a routerLink="regions">Regions</a>
	  	<a class="badge badge-primary float-right" routerLink="quiz">Quiz</a>
	</div>
	<button *ngIf="ownerService.owner" type="button" class="list-group-item list-group-item-info list-group-item-action" (click)="backup()">Perform online backup</button>
	<a *ngIf="ownerService.owner && restoreTimestamp | async as timestamp" routerLink="backup" class="list-group-item list-group-item-warning list-group-item-action">View online backup ({{ timestamp | date: 'full' }})</a>
</div>
<!-- <div class="input-group" *ngIf="ownerService.owner">
	<div class="custom-file">
		<input type="file" class="custom-file-input" accept="application/json" id="file_upload" (change)="fileSelected($event.target.files)">
		<label class="custom-file-label" for="file_upload">{{ selectedFile ? selectedFile.name : 'Restore from backup' }}</label>
	</div>
	<div class="input-group-append">
		<button [disabled]="!selectedFile" class="btn btn-outline-secondary" type="button" (click)="restore()">Restore</button>
	</div>
</div> -->